body {
    overflow-x: hidden;
}
/* HEADER */
#header {
    font-family:"DM Sans", sans-serif;
    background: fixed;
}


header {
    text-align: center;
}

/* SOCIAL */
.social {
    top: 40%;
    cursor: pointer;
    position: relative;

}

.social div {
    font-weight: 700;
}

header .social a:hover {
    transform: translateY(-8px);
}
/* LOGO */
.logo {
    height: 0px;
    top: 25%;
}

.back-1{
    position: relative;
    background-color: rgb(83, 253, 83);
    height: 55px;
    top: -19px;
    margin: -10px;
    z-index: -1;
}

.back-2 {
    position: relative;
    background-color: rgb(48, 219, 48);
    height: 60px;
    z-index: -2;
    filter: blur(5px);
    border-radius: 0.7rem;
    top: -19px;
}

/* CONTENT */

.text {
    position: relative;
    background-size: 100%;
    font-family: "DM Sans", sans-serif;
    margin-left: -8px;
    text-align: center;
    margin-bottom: 5rem;
}

h1 {
    height: 4rem;
    position: relative;
    text-align: center;
}

/* footer */
footer {
    background-color: rgb(83, 253, 83);
    height: 5rem;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
}

footer .social {
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
}

a {
    font-size: 15px;
    text-decoration: none;
    color: inherit;
    position: relative;
    text-align: center;
}
